body{
    background-color: #d14836;
    font-family: Arial;
    line-height: 20px;
}

#top{
    color: white;
    padding: 15px;
    font-size: 30px;
    line-height: 26px;
}

#top h1{
    margin: 0;
    line-height: 50px;
}

#menubar{
    float: right;
}

#main{
    background-color: white;
    padding: 10px;
    font: 80% Verdana;
}

#main h1,
#main h2,
#sidebar{
    color: #d14836;
}

#sidebar{
    padding: 10px;
    background-color: #F6DAD7;
}

#bottom{
    color: white;
    text-align: center;
    font-size: 70%;
    padding: 10px;
}

.item-menu{
    width: 155px;
    background-color: #d14836;
    color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 40px;
    list-style-type: none;
    cursor: pointer;
    border: #d14836 solid 1px;
    font:  Verdana;
}

.item-menu:hover{
    background-color: white;
    color: #d14836;
}

.item-menu:nth-child(2){
    background-color: white;
    color: #d14836;
    font-weight: bold;
}

a{
    color: #d14836;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}