body{
    font: 100% "Lucida Sans", Verdana;
    margin: 20px;
    line-height: 26px;
}

#top{

    background-color: #04AA6D;
    color: #ffffff;
    padding: 15px;
}

#top h1,
#top p,
ul{
    margin: 0;
    padding: 0;
}

.item-menu{
    list-style-type: none;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    margin: 4px;
}

.item-menu:hover{
    background-color: #ffffff;
}

.item-menu::first-child{
    background-color: #04AA6D;
    color: #ffffff;
    font-weight: bold;
}

ul{
    width: 200px;
    float: left;
}

#main{
    padding: 10px;
    margin: 0 210px;
}

#sidebar{
    background-color: #32a4e7;
    color: white;
    padding: 10px;
    width: 180px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: 4px 0px;
}

.wrapper{
    position: relative;
}

#botton{
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding: 0px 20px;
    font-size: 70%;
    line-height: 14px;
}

#top,
.item-menu,
#sidebar,
#botton{
    border-radius: 4px;
}