body{
    background-color: black;
    font: 100% "Courier New";
    margin: 20px;
    line-height: 26px;
    color: #84c754;
}

#top{
    padding: 15px;
}

#top h1, #top p{
    margin: 0;
}

.item-menu:hover{
    color: white;
    cursor: pointer;
}

#main{
    padding: 10px;
}

a{
    color: white;
}

a:hover{
    color: #84c754;
}

#bottom, #sidebar{
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
    text-align: center;
}

.wrapper{
    position: relative;
    
}

#sidebar{
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    text-align: left;
    font-size: 80%;
    line-height: 20px;
}